<app-header></app-header>
<div class="container my-3 wrap">
    <!-- <app-clientes></app-clientes> -->
    <!-- <app-directiva></app-directiva> -->
    <router-outlet></router-outlet>
</div> 
<app-footer></app-footer>