<div class="card border-primary mb-3">
    <div class="card-header">Cientes</div>
    <div class="card-body text-primary">
        <h5 class="card-title">Listado de Clientes</h5>
        <div class="my-2 text-left">
            <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/clientes/form']">Crear Cliente</button>
        </div>
        <div *ngIf="clientesArray?.length == 0" class="alert alert-info">
            No Hay Registros en la Base de datos
        </div>
        <table class="table table-bordered table-striped" *ngIf="clientesArray?.length>0">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Fecha</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cliente of clientesArray">
                    <td>{{cliente.id}}</td>
                    <td>{{cliente.nombre}}</td>
                    <td>{{cliente.apellido}}</td>
                    <td>{{cliente.email}}</td>
                    <td>{{cliente.createAt}}</td>
                    <td>
                        <button class="btn btn-primary" type="button" [routerLink]="['/clientes/form',cliente.id]">Editar</button>
                    </td>
                    <td>
                        <button class="btn btn-danger" type="button" (click)="deleteCliente(cliente)">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>